# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=prod:veracious-canary-59 # team: estela-mae-jalac, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=https://veracious-canary-59.convex.cloud
